body {
    font-family: 'Caveat', sans-serif;
    background: linear-gradient(45deg, #FFD700, #FFA500) top/100% 200%, linear-gradient(180deg, #FFD700, #FFA500);
    animation: gradientPulsate 8s infinite alternate, moveUp 10s linear infinite;
    margin: 0;
    overflow: hidden;
}

.homepage-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000; /* Adjust the value as needed */
}



.flash-button {
    background-color: #4CAF50; /* Green background color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto; 
    animation: flashText 2s infinite; /* Added flashing animation to text */
}

@keyframes gradientPulsate {
    0% {
        background-size: 100% 200%;
    }
    100% {
        background-size: 400% 400%;
    }
}

@keyframes moveUp {
    0% {
        background-position-y: 100%;
    }
    100% {
        background-position-y: 0;
    }
}

@keyframes flashText {
    0%, 100% {
        color: white;
        text-shadow: 0 0 10px #FFD700, 0 0 20px #FFA500; /* Added a glowing text effect */
    }
    50% {
        color: #FFA500; /* Change to the secondary color during flashing */
        text-shadow: none;
    }
}


h1 {
    text-align: center;
    font-size: 36px;
    color: transparent; /* Set text color to transparent initially */
    position: relative;
    animation: fadeInOut 10s ease-in-out infinite; /* Added fade-in-out animation */
}
h2,h3 {
    text-align: center;
    font-size: 20px;

}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0; /* Start and end with text invisible */
        text-shadow: none; /* No text shadow when invisible */
    }
    50% {
        opacity: 1; /* Middle of animation, text is fully visible */
        text-shadow: 0 0 1px red, 0 0 20px red, 0 0 30px red; /* Add a red glow effect */
    }
}

img.strobe {
    animation: strobe 10s infinite alternate; /* Added strobe animation */
}

@keyframes strobe {
    0%, 100% {
        opacity: 1; /* Start and end with full opacity */
    }
    50% {
        opacity: 0; /* Middle of animation, image is fully transparent */
    }
}


.div-img {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20%;
}

img {
    transition: transform .2s;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
}

img:hover {
    transform: scale(4.5);
}

.image-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-row {
    display: flex;
    justify-content: center;
}

.image-row img {
    max-width: 1000px;
    height: auto;
    margin: 5px;
}

.image-row:not(:last-child) {
    border-bottom: 10px solid #b503039e;
    margin-bottom: 10px;
}

.image-row::before {
    content: '';
    position: absolute;
    bottom: 2;
    left: 0;
    width: 100%;
    height: 2px; /* Adjusted height */
    background-color: #000000;
    animation: moveBorder 2s linear infinite;
}


@keyframes moveBorder {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}
